.app {
  max-width: 80vw;
  display: block;
  margin: auto;
  width: 80%;
  border: inherit;
  padding: 10px;
}

.left-content {
  float: left;
  width: 35%;
  min-height: 95vh;
  padding-left: 2%;
  padding-right: 2%;
  border-style: solid;
  border-width: 1px;
  border-right-width: 0px;
}

.right-content {
  float: left;
  width: 55%;
  min-height: 95vh;
  position: relative;
  border-style: solid;
  border-width: 1px;
}

.main-content {
  padding: 0 20px;
  padding-left: 2%;
  padding-right: 2%;
}

.bottom-content {
  width: 100%;
  height: 80px;
  background: #e0e0e0;
  border-width: 1px 0 0 0;
  border-radius: 0px;
  border-style: solid;
  position: absolute;
  bottom: 0;
}

.todo-list {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  height: calc(95vh - 220px);
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.todo-list::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.todo-item {
  margin: 15px 0;
}

.todo-view {
  border-style: solid;
  border-width: 1px;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}

.field-name {
  font-weight: bold;
}

.task-form.update {
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
}

h2.text-align-center {
  text-align: center;
}

.button {
  width: 423px;
  height: 32px;
  color: #ffffff;
  font-family: Arimo;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #5cb85c;
  border: none;
  border-radius: 10px;
  position: relative;
}

.text-input {
  width: 100%;
  height: 35px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
}

.text-area {
  width: 100%;
  height: 125px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  line-height: 1px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  resize: vertical;
  box-sizing: border-box;
  margin-top: 5px;
}

.date-input {
  width: 100%;
  height: 35px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 5px;
}

.drop-down {
  width: 100%;
  height: 35px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 5px;
}

.check-box {
  width: 20px;
  height: 20px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #000000;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 4px;
}

.text {
  height: 29px;
  color: #333333;
  font-family: "Source Sans Pro";
  font-size: 16px;
  text-align: left;
  line-height: 1px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button.green {
  background: #5cb85c;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button.detail-todo {
  background: #00bcd4;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 10px;
}

.button.remove-todo {
  background: #d9534f;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 10px;
}

.field-mt-6 {
  position: relative;
  width: 50%;
  float: left;
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}

.field-mt-6.left {
  width: 48%;
}

.field-mt-6.right {
  width: 48%;
  float: right;
}

.field-mt-12 {
  width: 100%;
  margin: 0 0 20px 0;
}

.todo-info {
  width: 75%;
}

.todo-action {
  width: 25%;
}

.field-button {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.bottom-label {
  width: 62%;
  padding: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.bottom-action {
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
}

.button.done-all {
  background: #2196f3;
  width: 110px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}

.button.remove-all {
  background: #d9534f;
  width: 110px;
  margin-left: 10px;
  float: left;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .left-content {
    width: 90%; /* 4% padding */
    border-right-width: 1px;
    min-height: inherit;
    border-bottom-width: 0px;
  }

  .right-content {
    width: 94%;
    min-height: 50vh;
  }
}

@media only screen and (max-width: 600px) {
  .todo-info {
    width: 68%;
  }

  .bottom-label {
    width: 53%;
  }
}

@media only screen and (max-width: 480px) {
  .todo-info {
    width: 50%;
  }

  .bottom-label {
    width: 20%;
  }

  .field-mt-6 {
    float: inherit;
  }

  .field-mt-6.right,
  .field-mt-6.left {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .todo-info {
    width: 50%;
  }

  .bottom-label {
    width: 20%;
  }
}
